/* Fonts to explore: Nunito, Garamond */
/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* EB Garamond */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --text: #ededee;
  --background: #0e0d11;
  --primary: #8f93db;
  --secondary: #2a2a83;
  --accent: #6d98fd;
  --wave-blue: #004bfa;
  --cols: auto-fit;
  --track-cols: auto-fit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

body {
  /* min-height: 100vh; */
  line-height: 1.6;
  font-family: system-ui;
  font-family: "Nunito Sans", serif;
  /* font-family: "EB Garamond", serif; */
  color: var(--text);
  padding-inline: 2em;
  background-color: var(--background);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent);
  transition: all 0.2s;
}

a:not(.site-links p > a):hover {
  color: var(--text);
}

@media (max-width: 800px) {
  body {
    padding-inline: 1em;
  }
  header {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
}

main {
  margin-bottom: 2.5rem;
}
